.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  margin-top: 5px;
  border-radius: 10px;
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.cart-label {
  margin-top: 24px;
}
.cart-btn {
  display: flex;
}
.product {
  border: black 1px solid;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}
.cart {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}
.cart-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
